.movie-section {
  width: 100%;
  margin: 50px auto;
  height: 100%;
  color: #fff;
  position: relative;
}
.movie-section h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0;
  margin: 0 0 0.5rem 40px;
}
.movie-section-container {
  margin: 0 40px;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
}
.movie-section-container::-webkit-scrollbar {
  display: none;
}

.movie-section-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: #000;
  opacity: 0.2;
  position: absolute;
  top: 3rem;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
}
.movie-section-arrow:hover {
  opacity: 1;
  transition: all 0.3s;
}
.movie-section-left-arrow {
  left: 10px;
}
.movie-section-right-arrow {
  right: 10px;
}

/* Main Section */
.movie-section-main {
  display: flex;
  flex-direction: row;
}
.movie-section-main a {
  text-decoration: none;
  color: #fff;
}
.movie-poster {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px 15px 0 0;
  position: relative;
  transition: 0.3s all ease;
  cursor: pointer;
}
.movie-poster img {
  width: 100%;
}
.movie-poster h2 {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  margin: 8px 0 0 0;
  padding: 0;
}
.movie-poster:hover {
  transform: scale(1.05);
}
.movie-poster:hover h2 {
  display: none;
}
.movie-poster:hover .movie-poster-detail {
  opacity: 1;
  transition: 0.3s all ease;
}
.movie-poster-detail {
  opacity: 0;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
}
.movie-poster-detail h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
