@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker');

.footer {
  width: 100%;
  min-height: 20vh;
  background-color: rgb(20, 29, 20);
  box-shadow: 0 -2px 20px 0 rgb(88, 231, 88, 0.4);
  display: flex;
  margin-top: 3rem;
}
.footer_content {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_logo {
  width: 50px;
  margin-top: 3rem;
}
.footer_logo img {
  width: 100%;
}
.footer_content h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
.footer_content h1 a {
  color: rgb(88, 231, 88);
  text-decoration: none;
}
.footer_content h1 a:hover {
  color: #fff;
  transition: all 0.5s;
}
.footer_content h2 {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 300;
  letter-spacing: 2px;
}
.footer_copyright {
  width: 80%;
  margin: auto;
}
.footer_copyright hr {
  width: 50%;
  border: none;
  background-color: rgb(179, 179, 179, 0.5);
  height: 1px;
  margin-top: 20px;
}
.footer_copyright h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: rgb(179, 179, 179);
  font-weight: 400;
  letter-spacing: 1px;
  margin: 20px 0;
}
