.similar_movies {
  width: 90%;
  margin: auto;
}
.similar_movies h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 2rem 0 1rem 0;
}
.similar_movies_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  overflow: hidden;
  gap: 1rem;
}

.similar_movies_item {
  width: 100%;
  overflow: hidden;
}

.similar_movies_item img {
  width: 100%;
  cursor: pointer;
}
.similar_movies_item img:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

@media only screen and (max-width: 1000px) {
  .similar_movies_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  .similar_movies_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
