.slider-container {
  width: 100%;
  height: 70vh;
  background-color: #000;
  display: flex;
  position: relative;
  padding-top: 5vh;
}
.slider-container .arrow {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  opacity: 0.5;
  color: white;
  z-index: 999;
}
.slider-container .arrow-left {
  left: 10px;
}
.slider-container .arrow-right {
  right: 10px;
}

.slider-wrapper {
  height: 100%;
  display: flex;
  position: relative;
}
.slider-container .slider {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  opacity: 0;
}
.slider-container .slider.active {
  opacity: 1;
  transition: all 1.5s ease;
  opacity: 1;
  transition: all 1.5s ease;
}
.movie-detail-container {
  width: 100%;
  height: 100%;
}
/* --------- Info section --------- */
.slider-container .slider .info-container {
  position: absolute;
  z-index: 99;
}
.info-container {
  color: #fff;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}

.info-container .title h1 {
  margin: 0 0 1.5rem 0;
  padding: 0;
}
.info-container .rate-time h5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
  color: rgb(180, 180, 180);
  margin: 0;
  padding: 0;
}
.rate-star,
.rate-score {
  color: rgb(93, 245, 93);
  margin-right: 5px;
  font-size: 1rem;
}
.release-time {
  margin: 0 5px;
}
.language {
  margin-left: 5px;
  text-transform: uppercase;
}
.rate-vl {
  font-size: 0.7rem;
}
.info-container .des p {
  width: 80%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgb(156, 156, 156);
  font-size: 0.9rem;
  margin: 1.5rem 0;
  padding: 0;
}
.info-container .des button {
  margin: 0;
  padding: 8px 15px;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 5px;
  color: rgb(208, 208, 208);
  cursor: pointer;
  background-color: rgb(8, 152, 8);
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-container .des button:hover {
  background-color: rgb(152, 126, 8);
  transition: all 0.1s;
}
/* --------- Image Container --------- */
.img-container {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-container::before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 70vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 3%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 12;
}
.img-container::after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 70vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 12;
}
